/* stylesheet for Grass Promotional Campagign Templates Design and developed by Satyajeet Parida */
html, body {
    width:100%;
    height:100%;
    margin:0px auto;
    font-family: 'Arial Black', 'Arial Bold', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

h1,h2,h3,h4,h5,p { font-family: 'Arial Black', 'Arial Bold', sans-serif; font-weight: 300; }

legend { text-transform: uppercase;}


.mainForm {
  font-family: Arial, serif; 
  color: #000000;
  background-color: #ffffff;
  position: absolute;  
  margin-top: -480px;
  margin-left:10px;
  padding: 20px 18px 20px 18px;
  z-index: 12;
    -webkit-box-shadow:0 0 15px #ababab;
       -moz-box-shadow:0 0 15px #ababab;
            box-shadow:0 0 15px #ababab;
}

.message {
  font-family: 'Arial Black', 'Arial Bold', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  background-color: #333;
  width: auto;
  /*position: absolute; */ 
  margin-left: 10px;
  padding: 20px 0px 30px 20px;
  z-index: 2;
    -webkit-box-shadow:0 0 15px #666;
       -moz-box-shadow:0 0 15px #666;
            box-shadow:0 0 15px #666;
}

.footer {
  padding: 90px 10px 0px 10px;
  background-color:#717171;
  color: #ffffff;
  z-index: 1;
}

@media screen and (max-width: 700px) {
 #bodyImageBlock{display:none;}
.mainForm {
	position:relative;
  margin-top: 20px;
  margin-left:2px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #ABABAB;

}
.footer{
padding: 20px 10px 0px 10px;}
}
